@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Amiri:wght@400;700&family=Cormorant+Garamond:wght@400;500;600;700&display=swap");
@theme {
  --color-background: #eee7d9;
  --color-surface: #fbf7ef;

  --color-text: #4d513d;
  --color-text-dark: #3f4434;

  --color-primary: #747957;
  --color-secondary: #c9bea0;

  --color-overlay: rgb(74 78 58 / 22%);

  --font-english: "Cormorant Garamond", serif;
  --font-arabic-display: "Aref Ruqaa", serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: var(--font-arabic);
  background: var(--color-background);
  color: var(--color-text);
  line-height: 1.5;
}

